@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set default font */
body {
  /* Using the Poppins font stack defined in tailwind.config.js */
  font-family: 'Poppins', sans-serif; 
}